@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ----------------------------------------- */

body {
	background: url('../images/bg.jpg') bottom center / cover no-repeat;
	/* Заменяет нижнее */
	min-height: 100vh;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1230px;
}

.header {
	padding-top: 26px;
}
.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
}
.header__menu {
	display: flex;
	gap: 30px;
}
.header__link {
	font-size: 24px;
	line-height: 28px;
}

/* --------Hero---------- */

.hero {
	padding-top: 174px;
	text-align: center;
}
.container {
}
.hero__title {
	font-weight: 700;
	font-size: 96px;
}
.hero__text {
	font-size: 24px;
}

.hero__dots {
	margin-top: 30px;
}

.swiper-pagination-bullet {
	opacity: 1;
	border: 1px solid #fdd486;
	background-color: #7a3d1c;
	width: 25px;
	height: 25px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
	border: 1px solid red;
	background-color: green;
}

